.banner {
    height: 500px;
    position: relative;
    margin: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .banner-top {
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    color: #d3d3d4;
    margin-bottom: 40px;
    text-align: center;
    z-index: 2;
  }
  
  .banner-text {
    color: #c75c6f;
  }
  
  .banner-bottom {
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
  }
  
  .banner-bottom-item {
    width: 210px;
    margin-right: 55px;
    font-size: 13px;
    text-align: center;
  }
  .banner-item-top {
    margin-bottom: 15px;
    color: #FFFFFF;
  }
  .banner-item-bottom {
    font-size: 80px;
    color: #5956e9;
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px;
  }