.header-component {
  height: 62px;
  padding: 15px 0;
  z-index: 3;
  background-color: transparent;
}

.fixed {
    background-color: #262626 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: sliderTopDown 2s;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 0 15%;
  height: 100%;
}
.header-left {
}
.header-icon {
}
.header-title {
  font-size: 28px;
  color: #ffffff;
}
.header-right {
  height: 100%;
}
.header-nav {
}
.nav-item {
  display: inline-block;
  margin: 0 24px;
}

.nav-item-link {
  text-decoration: none;
  color: #d3d3d4;
  font-size: 16px;
  font-weight: 500;
}
.nav-item-link:hover {
  transition: all 1s ease-in-out;
}

.header-button {
  background-color: #5357e9;
  padding: 18px 55px;
  border-radius: 20px;
}

.header-button:hover {
  background-color: #2225ba;
}

@keyframes textHightLightRight {
  from {
    border-bottom: 0;
    background-color: #ffffff;
  }
  to {
    border-bottom: 1px;
    background-color: #ffffff;
  }
}

@keyframes sliderTopDown {
  from {
    opacity: 0;
    /* transform: scaleY(0); */
    margin-top: -70px;
  }
  to {
    opacity: 1;
    /* transform: scaleY(1); */
    margin-top: 0;
  }
}
