.wrapper-app {
  background-color: #212121;
  height: 1200px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.app {
  /* margin: 0 15%; */
}

.select-themes {
  position: fixed;
  height: 60px;
  width: 60px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #5659e9;
  top: 40%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-themes-icon {
  width: 20px;
  height: 20px;
}
